.sales-table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

.sales-table th,
.sales-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.sales-table th {
  background-color: #555;
  color: white;
  cursor: pointer;
}

.sales-table th:hover {
  background-color: #777;
}

.sales-table th.active {
  background-color: #4CAF50;
}

.sales-table td.number, th.number {
  text-align: right;
}

.center {
  text-align: center;
}